body, html {
  width: 100%;
  min-height: 100%;
  background-color: #1d3557;
  color: #f1faee;
  padding: 0;
  margin: 0;
}

nav {
  float: left;
  height: 100%;
  background-color: #457b9d;
}

a {
  color: #e63946;
}
